/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');



.custom-dialog {
  border-radius: 16px;
  background: #fff;
  padding: 24px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
  animation: dialogEnter 0.3s ease-in-out;
}

.custom-backdrop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
}

@keyframes dialogEnter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} 
.order-dialog .cdk-overlay-pane {
  border-radius: 16px;
  overflow: hidden;
}
